<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, data: { "turbo-method": :delete,
                                          turbo_confirm: "You sure?" } %>
  <% end %>
  <br>
  <%= user.introduction %>
  <br>
  <h7>following&nbsp;</h7>
  <%= user.following.count %>
  <h7>&nbsp;&nbsp;followers&nbsp;</h7>
  <%= user.followers.count %>
</li>
